.input_container {
  height: 87%;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Cairo", cursive;
  font-weight: 650;
  font-style: normal;
  border: 1px solid blue;
}

.input_container h1 {
  border: 1px solid red;
  text-align: center;
  height: 12%;
  padding: 0;
  margin: 10px;
}

.input_container label {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  height: 10%;
}


.labelText {
  /* border: 1px solid blue; */
  padding-right: 3%;
  /* width: 40%; */
  /* text-align: center; */

}

.input_container input {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #B0B3B7;
  background-color: #F3F6FB;
  border-radius: 5px;
  height: 60%;
  width: 90%;
  font-family: "Cairo", cursive;
  font-weight: 600;
  font-style: normal;
}

.input_container input:focus {
  outline: none;
  border: 1px solid #B0B3B7;
  border-radius: 5px;
  background-color: #F3F6FB;
}


.input_container .phone_input {
  direction: ltr;
}

.input_container .custom_input {
  width: 80%
}

:global(.input_select) {
  /* border: 1px solid red; */
  height: 80%;
  width: 42%
}


/* CONTROL (the visible select box) */
:global(.input_select__control) {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  padding: 0%;
  margin: 0%;

  border-radius: 5%;
  box-sizing: border-box;
}

/* VALUE CONTAINER (text area) */
:global(.input_select__value-container) {
  width: 80%;
  height: 100%;

  padding: 0%;
  margin: 0%;

  display: flex;
  align-items: center;
}

/* SELECTED VALUE TEXT */
:global(.input_select__single-value) {
  width: 100%;
  height: 100%;

  margin: 0%;
  padding: 0%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* INDICATOR CONTAINER (arrow area) */
:global(.input_select__indicators) {
  width: 20%;
  height: 100%;

  padding: 0%;
  margin: 0%;

  display: flex;
  align-items: center;
  justify-content: center;

}

/* ARROW BUTTON */
:global(.input_select__indicator) {
  width: 100%;
  height: 100%;

  padding: 0%;
  margin: 0%;
}

/* REMOVE SEPARATOR LINE */
:global(.input_select__indicator-separator) {
  display: none;
}

/* DROPDOWN MENU */
:global(.input_select__menu) {
  width: 100%;
  margin: 0%;
}

/* OPTION ITEM */
:global(.input_select__option) {
  width: 100%;
  height: 100%;

  padding: 5%;
  margin: 0%;

  display: flex;
  align-items: center;
  justify-content: center;
}



.input_container .field_custom_container {
  width: 42%;
  height: 100%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:global(.fa-eye),
:global(.fa-eye-slash) {
  color: #0E2746;
  cursor: pointer;
}