.sign_in_container,
.sign_up_container {
  /* border: 1px solid blue; */
  padding: 30px;
  text-align: unset;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* .input_group {
  border: 1px solid red;
} */

.input_group label {
  /* border: 1px solid red; */
  margin-right: 5px;
}

.input_field {
  /* border: 1px solid green; */
  border-radius: 10px;
  height: 60px;
  background-color: #F3F6FB;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  
}

.input_field.error{
  border: 2px solid red;
}

.input_field input:-webkit-autofill,
.input_field input:-webkit-autofill:hover,
.input_field input:-webkit-autofill:focus,
.input_field input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #F3F6FB inset !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input_field input {
  font-family: "Cairo", cursive !important;
  font-weight: 650 !important;
  font-style: normal !important;
  font-size: medium !important;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 90%;
  margin-right: 10px;
  background-color: #F3F6FB;
}

.input_field input:focus {
  outline: none;
  /* border: 1px solid #B0B3B7; */
  /* background-color: #14B8A6; */
}

.input_field .show_pass {
  cursor: pointer;
}

.remeber_group {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
  height: 30px;
}

.remeber_group div {
  display: flex;
  align-items: center;
}

.remeber_group input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  accent-color: #14B8A6;
}

.submit_group {
  /* border: 1px solid black; */
  height: 55px
}


/*Sign up css*/
.sign_up_container .user_type_group {
  /* border: 1px solid green; */
  display: flex;
  height: 160px;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.sign_up_container .button_icon {
  width: 60%;
  height: auto;
}

:global(.form_select) {
  width: 96%;
  height: 100%;
  margin-right: 13px;
}