.content_final {
    grid-column-start: 1;
    border: 1px solid green;
}

.content_final.hidden {
    display: none;
}

.content_final p {
    --font-size: 2.5cqw;
    --text-align: "unset";
    margin: 0;
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
    font-size: var(--font-size);
    text-align: var(--text-align);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow: hidden;
}