.content_final {
    grid-area: 15 / 1 / 20/ 6;
    /* border: 1px solid orange; */
}

.content_final p {
    margin: 0;
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
    height: 100%;
    font-size: 2.5cqw;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: center;
    overflow: hidden;
}

.content_final p b {
    font-size: 3.5cqw;
}