.content_beginning {
  position: absolute;
  top: 10%;
  width: 100%;
  max-width: 100%;
  height: 33%;
  /* border: 1px solid red; */
  display: flex;
  container-type: size;
}

.content_beginning .intro_flex_container {
  width: 100%;
  height: 100%;
  flex: 1;
  min-width: 0;
}

.content_beginning .intro_flex_container p {
  /* border: 1px solid green; */
  margin: 0;
  width: 94%;
  height: 93%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 2.7cqw;
  overflow: hidden;
}

.content_beginning .intro_flex_container p b {
  font-size: 3.5cqw;
}

.content_beginning .summary_fixed_container {
  width: 22%;
  height: 100%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transition: all 0.3s ease;
  flex: 0 0 auto;
}

.content_beginning .summary_fixed_container.hidden {
  width: 0%;
  height: 0%;
}

.content_beginning .summary_fixed_container p {
  margin: 0;
  padding: 0;
  padding-top: 3%;
  width: 100%;
  height: 97%;
  max-height: 100%;
  white-space: pre-wrap;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 2.5cqw;
  overflow: hidden;
}

.content_beginning .summary_fixed_container p b {
  border-bottom: 1px solid black;
  font-size: 3cqw;
}