.text_option {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: end;
}

.option_container {
  top: 0;
  left: 0;
  background-color: #363f4e /*#0E2756;*/;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 140px;
}

.option_container li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.option_container li:hover,
.color_picker li:hover {
  cursor: pointer;
  transition: background 0.3s ease, color 0.7s ease;
  background-color: #3169AF;
  border-radius: 5px;
  color: #ccc;
}

.option_container li:active,
.color_picker li:active {
  transform: scale(0.95);
}

.color_picker {
  height: 130px;
  width: 140px;
  /* border: 1px solid red; */

}

.color_picker ul {
  padding: 0;
  margin: 0;
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 25%);
  background-color: #363f4e;
  border-radius: 5px;
}

.color_picker li {
  list-style: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_picker div {
  height: 60%;
  width: 60%;
}