.button {
  height: 50px;
  width: 100px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b0afaf7c;
  font-family: "Cairo", cursive;
  font-weight: 650;
  font-style: normal;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.button:active {
  background-color: #ccc;
  transform: scale(0.97);
}

.button:hover {
  transition: background 0.7s ease, color 0.7s ease;
  background-color: black;
  color: #ccc;
}

.fields_list__button {
  margin-left: 5px;
  margin-right: 5px;
}

.fields_pagnation__button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.fields_pagnation__button--disabeld {
  opacity: 30%;
  pointer-events: none;
}

.fields_insertion__button--major,
.verbs_container__button--add {
  background-color: rgba(28, 86, 168, 0.808);
  margin: 10px;
}

.fields_insertion__button--major:hover,
.verbs_container__button--add:hover {
  transition: background 0.3s ease, color 0.3s ease;
  background-color: rgba(8, 56, 124, 0.915);
  color: white;
}

.fields_insertion__button--minor {
  background-color: rgba(97, 210, 254, 0.419);
  margin: 5px;
}

.fields_insertion__button--minor:hover {
  transition: background 0.3s ease, color 0.3s ease;
  background-color: rgba(48, 172, 220, 0.784);
  color: black;
}

.fields_insertion__button--close,
.verbs_container__button--delete {
  background-color: rgba(255, 0, 0, 0.496);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 10px;
}

.fields_insertion__button--close:hover,
.verbs_container__button--delete:hover {
  transition: background 0.7s ease, color 0.7s ease;
  background-color: rgba(255, 0, 0, 0.859);
  color: white;
}

.text_insertion_container__button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.text_option__button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
}

.verbs_container__button--add {
  width: 60px;
  height: 35px;
}

.sign_up__button--choise {
  min-width: 145px;
  width: 37%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: none;
  border: 3px solid #14B8A6;
  color: #14B8A6;
  margin-left: 20px;
  margin-right: 20px;
}

.sign_up__button--choise:hover {
  color: #FFFFFF;
  background-color: #14B8A6;
}

.sign_up__button--submit,
.sign_in__button--submit {
  color: #FFFFFF;
  background-color: #14B8A6;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 18px;
}

.sign_up__button--submit:hover,
.sign_in__button--submit:hover {
  color: #FFFFFF;
  background-color: #118c7d;
}