.calendar_container {
  border: 2px solid red;
  width: 1288px;
  height: 757px;
  margin-top: 20px;
  font-family: "Cairo", cursive;
  font-weight: 650;
  font-style: normal;
}

div.calendar_container .rbc-toolbar {
  position: relative;
  border: 1px solid blue;
  height: 10%;
}

div.calendar_container .rbc-toolbar-label {
  flex-grow: 0;
  width: 20%;
}

div.calendar_container .rbc-btn-abs {
  position: absolute;
  height: 100%;
  width: 10%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 10px;
}