.text_insertion_container {
  border: 1px solid gray;
  width: 600px;
  border-radius: 5px;
  height: 450px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.text_container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 330px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.text_container::-webkit-scrollbar {
  display: none;
}

.text_container label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cairo", cursive;
  font-size: 16px;
  flex: 0 0 100%;
  scroll-snap-align: start;
  width: 100%;
}

.text_container input {
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: "Cairo", cursive;
  font-size: 16px;
  width: 80%;
}

.text_container textarea {
  width: 80%;
  height: 200px;
  resize: none;
  font-family: "Cairo", cursive;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
}

.text_option {
  /* border: 1px solid coral; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.text_option label {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cairo", cursive;
  font-size: 16px;
  height: 100%;
}

.text_option input[type="range"] {
  accent-color: #130a68;
}


.nav_container {
  /* border: 1px solid green; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}