body {
  direction: rtl;
  /* background-color: #0E2746; */
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  display: grid;
  /* 2 columns: sidebar + content */
  grid-template-columns: max-content 1fr;

  /* rows: search, header, content, footer */
  grid-template-rows: auto auto 1fr auto;

  grid-template-areas:
    "search  search"
    "sidebar header"
    "sidebar main"
    "footer  footer";
}