.container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  font-size: 10px;
  /* height: auto; */
}

.element {
  width: auto;
  height: 10em;
  border: 1px solid blue;
  padding: 1px;
  /* font-size: 1.6em */
}