.paper_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    aspect-ratio: 210 / 297;
    display: flex;
    align-items: center;
    justify-content: center;
    container-type: size;
    background-color: white;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.2);
}

.content_container {
    width: 95%;
    height: 95%;
    box-shadow: 0 0 0 0.7cqw black;
    container-type: size;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(20, 5%);
    overflow: hidden;
}