.input_container {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Cairo", cursive;
  font-weight: 650;
  font-style: normal;
  border: 1px solid blue;
}

.input_container h1 {
  text-align: center;
}

.input_container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8%;
}

.labelText {
  width: 40%;
  text-align: center;
}

.input_container input {
  border: 1px solid #B0B3B7;
  border-radius: 5px;
  height: 60%;
  width: 40%;
  padding: 4px;
  font-family: "Cairo", cursive;
  font-weight: 600;
  font-style: normal;
}

.input_container div {
  width: 42%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_container .custom_input {
  width: 78%;
}

.input_container input:focus {
  outline: none;
  border: 1px solid #8A8D93;
  border-radius: 5px;
  background-color: #8a8d9349;
}

:global(.fa-eye),
:global(.fa-eye-slash) {
  color: #0E2746;
  cursor: pointer;
}

.input_container select.phone_option{
  appearance: none;
}
.phone_input{
  direction: ltr;
}