.container {
  background-color: white;
  max-width: 500px;
  height: 600px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.sign_up_choise {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button_icon {
  width: 40%;
  height: auto;
}