.main_container {
  /* border: 1px solid red; */
  /* background-color: ; */
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  border-radius: 24px;
  max-width: 588px;
  width: 100%;
  /* padding-bottom: 20px; */
  font-family: "Cairo", cursive;
  font-weight: 650;
  font-style: normal;
}

.main_container h1 {
  padding: 0;
  font-weight: 800;
  color: #14B8A6;
  /* border: 1px solid blue; */
  margin-bottom: 0;
  text-align: center;
}

.main_container p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.main_container .signin_signup_nav {
  /* border: 1px solid blue; */
  display: flex;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
}

.main_container .signin_signup_nav div {
  /* border: 1px solid green; */
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  font-weight: 700;
}

.main_container .signin_signup_nav div:hover {
  background-color: #F3F6FB;
}

.main_container .signin_signup_nav div.active {
  background-color: #F3F6FB;
}