.header_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  gap: 9px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%), linear-gradient(142deg, #108478 16.28%, #01312C 57.44%);
  backdrop-filter: blur(1.6199992895126343px);
  justify-content: center;
  border-top-right-radius: 35px;
  grid-area: header;
  /* padding-right: 10%; */
}

.header_svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page_title {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  margin-right: 5%;
  font-family: "Cairo", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 28px;
}